<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Language" content="ja">
<link href="<%= @base_url %>/index.atom" rel="alternate" title="<%= @blog_title %>" type="application/atom+xml" />
<link rel="stylesheet" href="main.css" type="text/css" media="all" />
<title><%= @blog_title %></title>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27322025-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<body>
<h1><%= @blog_title %></h1>
<p>いろいろ書いていく．Twitter→<a href="http://twitter.com/yayugu">@yayugu</a> 旧ブログ→<a href="http://d.hatena.ne.jp/yayugu">yayuguのにっき</a></p>
<p>記事一覧</p>
<% @articles.each do |article| %>
  ・<a href="<%= @base_url %>/articles/<%= article.url %>"><%= article.title %></a><br />
<% end %>
</body>
</html>
